@font-face {
    font-family: Salazur;
    src: url('Salazur-L38n5.otf');
}

body {
    color: #2e2d2d;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding-top: 75px;
}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 300
}

h4 {
    font-size: 1.1rem;
    font-weight: 200;
}

img {
    width: 100%;
    margin: 3% auto;
    border-radius: 20px;
}

/* Navbar */
.navbar {
    background-color: #292828 !important;
    padding: 0 18%;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    height: 60px;
    width: 75px;
}

.nav-link {
    color: white !important;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 50px;
}

.nav-link:hover {
    color: #12A18B !important;
}

.green {
    color: #12A18B !important;
}

.nav-link.green:hover {
    color: white !important;
}


/* home page heading */
.heading {
    padding: 8% 0% 10% 17%;
}

.heading-text {
    color: #292828;
    padding-top: 10px;
    padding-bottom: 10px;
}

.green-script {
    color: #12A18B;
    font-family: Salazur;
    font-size: 4.5rem;
}

.green-script:hover {
   color: #292828;
}

.bold {
    font-weight: 500;
    color: #12A18B;
}

.extra-bold {
    font-weight: 600;
}

a.outline-link {
    text-decoration: none;
}

.typeit {
    padding-top: 7%;
}

/* Work section */
.work {
    padding: 0 18%;
    
}

.recent-work {
    padding-bottom: 1%;
}

.project-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .project {
    width: 100%;
    height: 200px;
    border: 2px solid #222122;
    margin-top: 3%;
} */

/* footer section */
footer {
    text-align: center;
    background-color: #2e2d2d;
    margin-top: 30px;
}

.white {
    padding: 30px 20px 20px;
    color: white;
}

.copyright {
    color: white;
    font-size: .8rem;
    font-weight: 100;
    padding: 20px 0 10px;
}

.copyright-sign {
    font-weight: 400;
}

/* about page */
.about-heading {
    padding: 5% 18% 2%
}

.bio {
    padding: 3% 18% 1%;
}

.about-text {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
}
.about-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
    margin: 0 25px 10px 0;
}

.resume {
   padding-left: 18%;
}

.BUTTON_LDK {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 10px 15px;
    background-color: #12A18B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 20px #000000;
    border: solid #12A188 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
 }
 
 
.BUTTON_LDK:hover {
    background: #4CF2D8;
    color: #222121;
    border: solid #12A18B 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

 /* media queries */
@media (max-width: 414px) {
    /* homepage */
    .logo {
        height: 40px;
        width: 55px;
    }

    .navbar {
        padding: 0 3%;
    }
    h1 {
        font-size: 1.5rem;
        letter-spacing: normal;
    } 

    .heading {
        padding: 2% 0% 15% 0%;
    }
    
    .green-script {
        font-size: 3rem;
    }

    .hi {
        font-size: 2rem;
    }

    .name {
        letter-spacing: .1rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    img {
        border-radius: 10px;
    }

    .work {
        padding: 0 4%;
    }

    h4 {
        font-size: .9rem;
    }

    /* about page */
    .about-heading {
        padding: 5% 3%;
        text-align: center;
    }

    .about-img {
        width: 90%;
        margin-left: 15px;
        margin-bottom: 15px !important;
    }

    .bio {
        padding: 3% 5% 1%;
    }

    .about-text {
        font-size: 1rem;
    }

    .resume {
        padding-left: 4%;
        padding-bottom: 3%;
     }

     .facts {
         font-size: .9rem;
     }
}

