@font-face {
    font-family: Salazur;
    src: url('Salazur-L38n5.otf');
}

body {
    color: #2e2d2d;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding-top: 75px;
}

button {
    color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 300
}

h4 {
    font-size: 1.1rem;
    font-weight: 200;
}

img {
    width: 100%;
    margin: 3% auto;
    border-radius: 20px;
}

/* Navbar */
.navbar {
    background-color: #292828 !important;
    padding: 0 18%;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    height: 60px;
    width: 75px;
}

.nav-link {
    color: white !important;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 50px;
}

.nav-link:hover {
    color: #12A18B !important;
}

.green {
    color: #12A18B !important;
}

.nav-link.green:hover {
    color: white !important;
}


/* home page heading */
.heading {
    padding: 8% 18% 6%;
}

.heading-text {
    background-color:#292828;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
    padding-bottom: 10px;
}



.green-script {
    color: #12A18B;
    font-family: Salazur;
    font-size: 4.2rem;
}

.green-script:hover {
   color: #4cebd3;
}

.bold {
    font-weight: 500;
}

.extra-bold {
    font-weight: 600;
}

a.outline-link {
    text-decoration: none;
}

.typeit {
    padding-top: 7%;
}

/* Work section */
.work {
    padding: 0 19%;
    
}

.recent-work {
    padding-bottom: 1%;
}

.project {
    width: 100%;
    height: 200px;
    border: 2px solid #222122;
    margin-top: 3%;
}

/* footer section */
footer {
    text-align: center;
    background-color: #2e2d2d;
    margin-top: 30px;
}

.white {
    padding: 30px 20px 20px;
    color: white;
}

.copyright {
    color: white;
    font-size: .8rem;
    font-weight: 100;
    padding: 20px 0 10px;
}

.copyright-sign {
    font-weight: 400;
}

/* about page */
.about-heading {
    padding: 5% 18% 2%
}

.bio {
    padding: 3% 18% 1%;
}

.about-text {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
}
.about-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
    margin: 0 25px 10px 0;
}

.resume {
   padding-left: 18%;
}

.BUTTON_LDK {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 10px 15px;
    background-color: #12A18B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 20px #000000;
    border: solid #12A188 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 
.BUTTON_LDK:hover {
    background: #4CF2D8;
    color: #222121;
    border: solid #12A18B 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

