@font-face {
    font-family: Salazur;
    src: url('Salazur-L38n5.otf');
}

@font-face {
    font-family: Shakies;
    src: url('Shakies-PK3Pm.otf');
}

body {
    color: #2e2d2d;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding-top: 75px;
}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

h4 {
    font-size: 1.1rem;
    font-weight: 200;
}

img {
    width: 100%;
    margin: 3% auto;
    border-radius: 20px;
}

/* Navbar */
.navbar {
    background-color: #292828 !important;
    padding: 0 5%;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    height: 75px;
    width: 75px;
}

.nav-link {
    color: white !important;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 50px;
}

.nav-link:hover {
    color: #12A18B !important;
}

.green {
    color: #12A18B !important;
}

.nav-link.green:hover {
    color: white !important;
}


/* home page heading */
.heading {
    padding: 8% 0 10% 20%;
}

.heading-text {
    color: #292828;
    padding-top: 10px;
    padding-bottom: 10px;
}

.green-script {
    color: #12A18B;
    font-family: Salazur;
    font-size: 5.2rem;
}

.green-script:hover {
   color: #292828;
}

.bold {
    font-weight: 500;
    /* color: #12A18B; */
}

.extra-bold {
    font-weight: 600;
    color: #12A18B;
}

.outline {
    color: #292828;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #292828;
  }

  .outline:hover {
    color: #292828;
    -webkit-text-fill-color: #12A18B; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #292828;
  }

a.outline-link {
    text-decoration: none;
}

.typeit {
    padding-top: 15%;
}

/* Work section */
.work {
    padding: 2% 20% 0;
    
}

.recent-work {
    padding-bottom: 1%;
}

.dev-work {
    padding-top: 10%;
}

.project-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* footer section */
footer {
    text-align: center;
    background-color: #292828;
    margin-top: 30px;
}

.footer {
    padding: 0;
}

.white {
    color: white;
}

.available {
    padding-top: 5%;
}

.contact {
    font-size: 1.3rem;
    padding: 2%;
}

.email {
    color:#12A18B; 
}

.email:hover {
    color: white;
}

.icon {
    padding: 30px 20px 20px;
}

.icon:hover {
    color: #12A18B;
}

.copyright {
    color: white;
    font-size: .8rem;
    font-weight: 100;
    padding: 20px 0 10px;
}

.copyright-sign {
    font-weight: 400;
}

/* about page */
.about-heading {
    padding: 5% 20% 2%;
}

.typeit-about {
    font-size: 3.2rem;
}

.bio {
    padding: 3% 18% 1%;
}

.about-text {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
}
.about-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
    margin: 0 25px 10px 0;
}

.cv {
   padding-left: 18%;
}

.BUTTON_LDK {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 10px 40px;
    background-color: #12A18B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 20px #000000;
    border: solid #12A188 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
 }
 
 
.BUTTON_LDK:hover {
    background: #4CF2D8;
    color: #222121;
    border: solid #12A18B 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

 /* Texicana Case Study page */
 .tex-hero-img {
     text-align: center;
     margin: 5% 0 0;
 }

 .texicana-mockups {
     width: 85%;
     
 }

 .texicana-heading {
     padding: 5% 0 0;
     
 }

 .texicana-title {
     font-family: 'Dosis', sans-serif;
     color: #1a8089;
 }

 .texicana-subtitle {
     font-weight: 200;
     font-size: 1.5rem;
     padding-left: 2%;
     color: black;
 }

.typeit-texicana {
     font-size: 2rem;
     padding: 5% 10% 5% 20%;
 }

 .process {
     text-align: center;
    
 }

 .casestudy-heading {
     background-color: #292828;
 }

.cs-heading {
    padding: 3% 0;
    font-size: 3rem;
}

.overview {
    padding: 5% 0;
}

.overview-item {
    padding: 2%;
}

.blue {
    color:#1a8089;
}

.carousel {
    padding: 5% 0;
}

 .carousel-img {
     width: 40%;
 }

 .control {
     color:#292828;
 }

 .control:hover {
     color: #292828;
 }

 .texicana-button {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#1a8089;
	border-radius:10px;
	border:1px solid #1a8089;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	font-weight:400;
	padding:12px 19px;
	text-decoration:none;
	
}
.texicana-button:hover {
	background-color:white;
    color: #1a8089;
    text-decoration: none;
}
.texicana-button:active {
	position:relative;
	top:1px;
}

.prototype-button {
    text-align: center;
}

 /* Proposal page */
 body.proposal-body {
     text-align: center;
 }

 .typeit-proposal {
     font-size: 3.2rem;
 }

 .proposal-big-heading {
     padding: 5% 0 2%;
 }

 .company {
     font-size: 2.5rem;
 }

 .prepared {
     font-size: 1rem;
 }

 .proposal-prepared {
     padding: 2% 0;
 }

 .problem-statement {
     text-align: left;
     padding: 1%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     width: 60%;
     background-color: #212121;
     color: white;
     border-radius: 20px;
     margin-bottom: 2%;
 }

 li {
     padding-top: 2%;
     padding-right: 2%;
 }

 .greeting {
     width: 75%;
 }

 .proposal-button {
     padding: 10px 20px;
     margin: 10px 40px;
 }

 /* media queries */
@media (min-width: 1140px) {
    .navbar {
        padding: 0 5%;
    }

    .heading {
        padding: 8% 0 10% 20%;
        /* text-align: center; */
    }

    .work {
        padding: 0 20%;
    }

    .about-heading {
        padding: 5% 21% 2%;
    }

    .bio {
        padding: 3% 21% 1%;
    }

    .cv {
        padding-left: 21%;
    }
}

@media (max-width: 766px) {
    /* homepage */
    .logo {
        height: 55px;
        width: 55px;
    }

    .navbar {
        padding: 0 3%;
    }

    h1 {
        font-size: 2.7rem;
        letter-spacing: normal;
    } 

    .heading {
        padding: 8% 0% 20% 0%;
        text-align: left;
    }

    .heading-text {
        padding-bottom: 8%;
    }
    
    .green-script {
        font-size: 3rem;
    }

    .hi {
        font-size: 2.7rem;
    }

    .name {
        letter-spacing: .1rem;
        margin-bottom: 2%;
    }

    h3 {
        font-size: 1.6rem;
    }

    img {
        border-radius: 10px;
    }

    .work {
        padding: 2% 4% 0;
    }

    h4 {
        font-size: .9rem;
    }

    /* about page */
    .about-heading {
        padding: 5% 3%;
    }

    .bio {
        padding: 3% 5% 1%;
    }

    .about-text {
        font-size: 1.2rem;
        line-height: 1.7;
    }

    .facts {
        font-size: 1.2rem;
    }

    .cv {
        padding-left: 4%;
        padding-bottom: 3%;
     }

     .texicana-mockups {
        padding: 0; 
        width: 75%;
    }

    .texicana-heading {
        padding: 5% 0 0;
    }

    .carousel-img {
        width: 60%;
    }

     .problem-statement {
         width: 75%;
         margin-bottom: 5%;
     }
}
@media (min-width: 768px) and (max-width: 980px) {
   
    .heading {
        padding: 8% 0 10% 10%;
    }

    .work {
        padding: 0 10%;
    }

    .about-heading {
        padding: 5% 8% 2%;
    }

    .typeit-about {
        font-size: 3.3rem;
    }

    .bio {
        padding: 3% 8% 1%;
    }

    .cv {
        padding-left: 8%;
    }
}



@media (min-width: 415px) and (max-width: 768px) {
    .typeit-about {
        font-size: 2.5rem;
    }

    .about-img {
        width: 40%;
    }
}

 @media (max-width: 414px) {

    .outline {
        -webkit-text-stroke-width: 1px;
      }
    
      .outline:hover {
        -webkit-text-stroke-width: 1px;
      }

    .typeit-about {
        font-size: 2rem;
    }

    .about-img {
        width: 90%;
        margin-left: 15px;
        margin-bottom: 15px !important;
    } 
    
    .typeit-proposal {
        font-size: 2rem;
    }

    .company {
        font-size: 1.8rem;
    }

    .greeting {
        width: 85%;
    }
}


